{% extends 'basic.html' %}
{% load humanize %}

{% block body %}
<div class="container">
    <h1 class="text-center">Post Detail</h1>
    <div class="col-md-6">
        <img src="{{object.image.url}}" alt="" style="width:150px; height:150px;" class="rounded-circle img-thumbnail">
    </div>
    <!-- <div class="col-md-6 offset-md-2"> -->
    <div class="col-md-6 offset-md-3 p-5 border">

        <!-- {{msg}}<br> -->
        Title = {{object.ProperCase}}<br>
        {% comment %} Title = {{object.title}} <br> {% endcomment %}

        br: {{object.user.username}} at {{object.created_at | naturaltime}}<br>


        Email = {{object.email}} <br>
        Details = {{object.details}} <br>
        Available = {% if object.available %} Yes {% else %} No{% endif %} <br>


        Subject = {{ object.get_subject_list }}<br>
        {% comment %} Subject = {% for s in object.subject.all %}
        {{s.name}}
        {% endfor %}<br> {% endcomment %}

        Class = {{object.get_class_list}}<br>
        {% comment %} Class = {% for c in object.class_in.all %}
        {{c.name}},
        {% endfor %}<br> {% endcomment %}


        Category = {{object.category}} <br>
        Salary = {{object.salary}} <br>
        Medium = {{object.medium}} <br>
        Created_at = {{object.created_at}} <br>

        {% if request.user == object.user %}
        <a href="/tuition/edit/{{object.id}}">Edit</a><br>
        <a href="/tuition/delete/{{object.id}}">Delete</a><br>

        {% endif %}





    </div>
</div>


{% endblock %}